chatgpt-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd">
	<!-- <http:listener-config name="HTTP_Listener_Configuration" doc:name="HTTP Listener config" doc:id="1e4bc116-9b3d-499a-b527-907ac07f985c" basePath="/chat">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config> -->
	<!-- <http:request-config name="ChatGPT_Configuration" doc:name="HTTP Request configuration" doc:id="90cc8e87-0bcd-46af-a838-60e837529068" >
		<http:request-connection >
			<http:authentication >
				<http:basic-authentication username="${chatGPTAPI.username}" password="${chatGPTAPI.password}"/>
			</http:authentication>
		</http:request-connection>
	</http:request-config> -->
	<!-- <sub-flow name="c4e-notifications-subflow" doc:id="53b1595c-8e7e-4a4f-9fbd-729d076ffb69" >
		<ee:transform doc:name="vars:alertMessage" doc:id="422e14fa-73f2-4b76-8f93-ff776d0a7b09" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="alertMessage" ><![CDATA[%dw 2.0
output application/java
-&#45;&#45;
'ErrorCode: $(vars.c4eCommonErrorCode default ''), ErrorDescription: $(vars.c4eCommonErrorDescription default ''), CorrelationId: $(vars.transactionProperties['x-transaction-id'] default '')'
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
			<try doc:name="Try" doc:id="c459ed35-c03e-477b-b500-15761a30c69f">
			<cloudhub:create-notification doc:name="Create Notification" doc:id="a8820954-c4de-432a-9040-176749494ddf" config-ref="CloudHub_Config" domain="${api.name}" priority="ERROR" transactionId="#[vars.transactionProperties['x-transaction-id']]">
				<cloudhub:message><![CDATA[#[vars.alertMessage]]]></cloudhub:message>
			</cloudhub:create-notification>
			
			<error-handler>
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="690f2e43-7451-4903-a900-8140c67c4e46" type="ANY">
					
						
					<set-variable value="#['TE-101-009']" doc:name="vars:c4eCommonErrorCode" doc:id="b2900de3-ef66-4381-b893-482e240be2c3" variableName="c4eCommonErrorCode" />
						<set-variable value="#[%dw 2.0 output application/java -&#45;&#45; &quot;General Service Error: $(error.muleMessage.payload.description default 'Error received calling cloudhub connector')&quot;]" doc:name="vars:c4eCommonErrorDescription" doc:id="b5763b41-9cd3-45f7-a5e6-8723a2785c4a" variableName="c4eCommonErrorDescription" />
					</on-error-propagate>
			</error-handler>
		</try>
		
	</sub-flow> -->
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3234f1d5-02a3-4eae-bf52-9b9bec49021a" >
    <http:listener-connection host="0.0.0.0" port="8081" />
  </http:listener-config>
  <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="3748c5a5-649a-4d2f-91fe-a400dbe698a6" >
    <http:request-connection protocol="HTTPS" host="api.openai.com" />
    <http:default-headers >
      <http:default-header key="Authorization" value="Bearer cKujRJHgwz CmytXc HT3BlbkFJi5J6Lz3k4uI j0XOPz" />
    </http:default-headers>
  </http:request-config>
  <flow name="chatgpt-apiFlow" doc:id="8e613e05-558a-4d1d-ae00-53cb401b3f8f" >
    <http:listener doc:name="Listener" doc:id="f08c6d77-9e28-4db1-9de4-3f9d9bdddf1e" config-ref="HTTP_Listener_config" path="/chat"/>
    <logger level="INFO" doc:name="Start Logger" doc:id="e2dce20e-b9bb-45c8-b663-689051a59252" message="#[payload]"/>
    <http:request method="POST" doc:name="ChatGPT Completion API Request" doc:id="07ee2c7d-6fbd-431f-93fd-4bc796c4bbfe" config-ref="HTTP_Request_configuration" path="/v1/chat/completions"/>
    <ee:transform doc:name="Transform Message" doc:id="287ae4ad-6e5f-42f0-a4ee-5bc661522884" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.choices[0].message.content]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger level="INFO" doc:name="End Logger" doc:id="b63af248-42e2-4543-8b92-f110d2d703e8" message="#[payload]"/>
  </flow>

    
	
	
</mule>










request::
{
    "model": "gpt-3.5-turbo",
    "messages": [
        {
            "role": "user",
            "content": "Describe MuleSoft in layman terms in 100 words"
        }
    ]
}
